@import '../../../../assets/styles/functions';

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.marquee {
    --gap: 1rem;
    --vertical-padding: 10px;

    background-color: var(--text-colour);
    color: var(--background-colour);
    padding: var(--vertical-padding) 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin-bottom: var(--section-spacing);

    @media (min-width: 992px) {
        --vertical-padding: 20px;
    }
}

.list {
    padding-left: 0;
    margin: 0;
    animation: scroll 40s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

.item {
    font-family: 'Anybody Italic';
    font-weight: 700;
    font-size: clamp(rem(32px), 4vw + 1rem, rem(64px));
    line-height: 1;
    text-wrap: nowrap;

    &:before {
        content: '•';
        margin-right: var(--gap);
        color: var(--brand-colour-tertiary);
    }
}

.title:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
