@import '../../../../assets/styles/functions';

.intro {
    margin-bottom: var(--section-spacing);
}

p {
    font-size: clamp(rem(24px), 2.5vw + 1rem, rem(48px));
    line-height: 1.5;

    & + & {
        margin-top: 40px;
    }

    &:last-of-type {
        margin-bottom: 80px;
    }
}
