@import '../../../../assets/styles/functions';

.intro {
    margin-bottom: var(--section-spacing);
}

:host ::ng-deep p {
    font-size: clamp(rem(24px), 2.5vw + 1rem, rem(48px));
    line-height: 1.5;
}

:host ::ng-deep p + p {
    margin-top: 40px;
}

:host ::ng-deep p:last-of-type {
    margin-bottom: 80px;
}
